:root {
    --primary: #3ABFF8;
    --secondary: #828DF8;
    --accent: #F471B5;
    --success: #2BD4BD;        
    --error: #FB6F84;
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    color: #000;
}

.content {
    padding: .5em 1em;
}

.content .error, .content .loading {
  margin-bottom: 1em;
}

.content .btn {
  text-decoration: none;
  background: var(--primary);
  font-size: 1em;
  color: #fff;
  border: none;
  padding: 0.75em;
  border-radius: 0.5em;
  cursor: pointer;
}

/* NAVBAR SECTION */

.navbar {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5em .75em;
    border-bottom: 1px solid #f1f1f1;
    background: white;
}

.navbar .logo {
  display: flex;
  align-items: center;
}

.navbar .title {
    color: var(--primary);
}

.navbar .link {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    padding-inline: 1em;
}

.link.active {
  color: var(--primary);
}

/* TODO LIST SECTION */

.day {
  padding-block: .75em;
}

.day .date {
  display: flex;
  align-items: baseline;
  gap: 1em;
}

.date p {
  font-size: .75em;
}

/* TODO SECTION */

.todo {
    padding: .50em 1em;
    margin-block: .75em;
    display: flex;
    gap: 1em;
    border-bottom: 1px solid #f0f0f0;
}

.todo .buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .75em;
}

.todo svg {
  cursor: pointer;
}

.todo .dot.work {
  fill: var(--primary);
}

.todo .dot.personal {
  fill: var(--accent);
}

.todo .dot.study {
  fill: var(--secondary);
}

.todo .dot.completed {
  fill: grey;
}

.todo .properties {
  display: flex;
  align-items: baseline;
  padding-block: .25em;
  gap: .75em;
}

.todo .description {
  font-weight: 500;
  word-break: break-all;
}

.todo .hour {
  font-size: .75em;
  border-bottom: 1px solid var(--primary);
}

.todo .completed {
  text-decoration: line-through;
  color:gray;
  border-bottom: none;
}

.todo .category.work {
    color: var(--primary);
}

.todo .category.personal {
    color: var(--accent);
}

.todo .category.study {
    color: var(--secondary);
}

.todo .menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5em;
}

.menu .edit, .menu .remove {
  border-radius: .25em;
  display: flex;
  padding: .25em .5em;
}

.menu .edit {
  background: var(--success);
  cursor: pointer;
}

.menu .remove {
  background: var(--error);
  cursor: pointer;
}

/* NOTFOUND SECTION */

.notfound { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.notfound p {
    font-weight: 700;
    font-size: 3em;
}

.notfound h1 {
    font-size: 3em;
}

.notfound .go-back {
    font-size: 1em;
    text-transform: uppercase;
    padding: .75em 1em;
    border-radius: 1em;
    border: none;
    background: var(--primary);
    border: 1px solid var(--primary);
    text-decoration: none;
    font-weight: 700;
    color: #fff;
    transition: 0.2s ease-in-out;
}

.notfound .go-back:hover {
    padding: (.75em-1px) (1em-1px);
    border: 1px solid var(--primary);
    color: var(--primary);
    background: white;
}

/* FORM SECTION */

.form {
    margin: auto;
    max-width: 30em;
}

.form form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.form input, select {
    padding: 1em .75em;
    margin-block: .75em;
    border: 1px solid #ddd;
}

.form .submit {
    background: var(--primary);
    font-size: 1em;
    color: #fff;
    border: none;
    padding: 0.75em;
    border-radius: 0.5em;
    cursor: pointer;
    margin: 1em auto;
}

/* MEDIA */

