:root {
    --primary: #3ABFF8;
    --secondary: #828DF8;
    --accent: #F471B5;
    --success: #2BD4BD;        
    --error: #FB6F84;
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    color: #000;
    
}

body {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll; 
}

body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.content {
    display: flex;
}

.content .error, .content .loading {
  margin-bottom: 1em;
}

.content .btn {
  text-decoration: none;
  background: var(--primary);
  font-size: 1em;
  color: #fff;
  border: none;
  padding: 0.75em;
  border-radius: 0.5em;
  cursor: pointer;
}

/* NAVBAR-MOBILE MOBILE SECTION */

.navbar-mobile {
  position: sticky;
  top: 0;
  background: white;
  border-bottom: 1px solid #e4e5f1;
  padding: .5em .75em;
}

.navbar-mobile .hamburger, .navbar-mobile .close {
  cursor: pointer;
}

.navbar-mobile a {
  text-decoration: none;
}

.navbar-mobile .topnav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.hamburger, .close {
  display: flex;
  transition: .2s ease-in-out; 
}

.hamburger:hover, .close:hover {
  fill: #1d7ea8;
}


.navbar-mobile .close-button {
  padding: .5em .75em;
  border-bottom: 1px solid lightgray;
  background: transparent;
}

.navbar-mobile .logo {
  display: flex;
  gap: .5em;
}

.navbar-mobile .logo .title {
  color: var(--primary);
}

.navbar-mobile .sidebar-mobile {
  background: #f1f1f1;
  width: 360px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transition: 350ms ease-in-out;
  z-index: 1;
  overflow-y: auto
}

.sidebar-mobile .wrapper {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-mobile .list {
  margin-top: 2em;
}


.sidebar-mobile.active {
  transform: translateX(0);
}

.sidebar-mobile .page {
  display: flex;
  flex-direction: column;
  transition: .1s ease-out .2ms;
  margin-block: .25em;
}

.sidebar-mobile .dropdown-page {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  padding: .75em 3em;
  margin-block: 1em;
}

.sidebar-mobile .item {
  padding: .75em 3em;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 1em;
}

.sidebar-mobile .item.add {
  justify-content: center;

  border-top: 1px solid lightgray;
}

.sidebar-mobile .item.active {
  background: #dbdbdb;
  font-weight: 700;
}

.sidebar-mobile .item:hover {
  background: #dbdbdb;
  cursor: pointer;
  text-decoration: underline;
}

.sidebar-mobile .menu {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 1em;
}

.sidebar-mobile .icon {
  cursor: pointer;
  display: flex;
  width: 1em;
}

.sidebar-mobile .menu .title {
  font-weight: 700;
}

.sidebar-mobile .see-all {
  font-size: .95em;
  font-weight: 600;
  color: gray;
  letter-spacing: .05em;
}

.sidebar-mobile .see-all:hover {
  text-decoration: underline;
}

.submenu .item {
  display: flex;
  gap: 1em;
}


/* NAVBAR SECTION */

.navbar {
  position: sticky;
  top: 0;
  background: white;
  border-bottom: 1px solid #e4e5f1;
  padding: .5em .75em;
}

.navbar .logo {
  display: flex;
  gap: .5em;
}

.navbar .title {
  color: var(--primary);
}



/* SIDEBAR SECTION */

.sidebar {
  background: #f1f1f1;
  width: 360px;
  height: calc(100vh - 57px);
  display: flex;
  justify-content: center;
  top: 57px;
  position: sticky;
  border-right: 1px solid lightgray;
  
}

.sidebar a {
  text-decoration: none;
}

.sidebar .wrapper {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar .list {
  margin-top: 2em;
}

.sidebar .page {
  display: flex;
  flex-direction: column;
  transition: .1s ease-out .2ms;
  margin-block: .25em;
}

.sidebar .dropdown-page {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  padding: .75em 3em;
  margin-block: 1em;
}

.sidebar .item {
  padding: .75em 3em;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 1em;
}

.sidebar .item.add {
  justify-content: center;
  border-top: 1px solid lightgray;
}

.sidebar .item.active {
  background: #dbdbdb;
  font-weight: 700;
}

.sidebar .item:hover {
  background: #dbdbdb;
  cursor: pointer;
  text-decoration: underline;
}

.sidebar .menu {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 1em;
}

.sidebar .icon {
  cursor: pointer;
  display: flex;
  width: 1em;
}

.sidebar .menu .title {
  font-weight: 700;
}

.sidebar .see-all {
  font-size: .95em;
  font-weight: 600;
  color: gray;
  letter-spacing: .05em;
}

.sidebar .see-all:hover {
  text-decoration: underline;
}

.submenu .item {
  display: flex;
  gap: 1em;
}

/* TODO LIST SECTION */

.todolist {
  width: 100%;
  padding: 1em;
}

.todolist .day {
  padding-inline: .75em;
  border-radius: 1em;
  border: 1px solid #f0f0f0;
  box-shadow: inset 0 0 10px #f0f0f0;
  margin-block: .75em;
}

.todolist .date {
  display: flex;
  align-items: baseline;
  gap: 1em;
  padding-block: 1em;
}

.todolist .date p {
  font-size: .75em;
}

/* TODO SECTION */

.todo {
    padding: .75em 1em;
    display: flex;
    gap: 1em;
    border-top: 1px solid #f0f0f0;
}

.todo .arrows {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .75em;
}

.todo svg {
  cursor: pointer;
}

.todo .dot.work {
  fill: var(--primary);
}

.todo .dot.personal {
  fill: var(--accent);
}

.todo .dot.study {
  fill: var(--secondary);
}

.todo .dot.completed {
  fill: grey;
}

.todo .properties {
  display: flex;
  align-items: baseline;
  padding-block: .25em;
  gap: .75em;
}

.todo .description {
  font-weight: 500;
  word-break: break-all;
}

.todo .hour {
  font-size: .75em;
  border-bottom: 1px solid var(--primary);
}

.todo .completed {
  text-decoration: line-through;
  color:gray;
  border-bottom: none;
}

.todo .category.work {
    color: var(--primary);
}

.todo .category.personal {
    color: var(--accent);
}

.todo .category.study {
    color: var(--secondary);
}

.todo .menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .25em;
}

.menu .edit, .menu .remove {
  border-radius: .25em;
  display: flex;
  padding: .25em .5em;
}

.menu .edit {
  background: var(--success);
  cursor: pointer;
}

.menu .remove {
  background: var(--error);
  cursor: pointer;
}

/* NOTFOUND SECTION */

.notfound { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    align-items: center;
    gap: 1em;
}

.notfound p {
    font-weight: 700;
    font-size: 3em;
}

.notfound h1 {
    font-size: 3em;
}

.notfound .go-back {
    font-size: 1em;
    text-transform: uppercase;
    padding: .75em 1em;
    border-radius: 1em;
    border: none;
    background: var(--primary);
    border: 1px solid var(--primary);
    text-decoration: none;
    font-weight: 700;
    color: #fff;
    transition: 0.2s ease-in-out;
}

.notfound .go-back:hover {
    padding: (.75em-1px) (1em-1px);
    border: 1px solid var(--primary);
    color: var(--primary);
    background: white;
}

/* FORM SECTION */

.form {
  margin: auto;
  margin-top: 2em;
  min-width: 360px;
}

.form form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.form input, select {
    padding: 1em .75em;
    margin-block: .75em;
    border: 1px solid #ddd;
}

.form .submit {
    background: var(--primary);
    font-size: 1em;
    color: #fff;
    border: none;
    padding: 0.75em;
    border-radius: 0.5em;
    cursor: pointer;
    margin: 1em auto;
}

/* MEDIA */

@media screen and (min-width: 768px) {
  .todolist {
    width: calc(100% - 360px);
  }
}